.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

img.article-image {
  width: 100%;
  height: auto;
}

.el-mdl-max-width {
  max-width: 1200px;
  margin: auto;
}

.el-mdl-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}



.mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.mdl-card h3 {
  margin: 0;
}
.mdl-card h3 a {
  text-decoration: none;
}
.mdl-card h3.quote:before, .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.mdl-card h3.quote:before {
  content: '“';
}
.mdl-card h3.quote:after {
  content: '”';
}
.mdl-card__media a,
.mdl-card__title a {
  color: inherit;
}


.mdl-card__supporting-text {
  width: 100%;
  box-sizing: border-box;
  min-height: 76px;
}

.mdl-grid .mdl-card{
  margin: 8px 8px 32px 8px;
}

.el-title-bg {
  background-color: #263238;
}


.section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.elst.mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-nav {
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
}


.el-footer {
  box-sizing: border-box;
  align-items: center;
}

.el-blog {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.el-blog p {
  font-size: 16px;
}

.el-blog h5, h6, p {
    font-weight: 400;
}

.el-blog h1, h2, h3, h4 {
  font-weight: 300;
}


.el-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  min-height: 280px;
}

.el-blog .mdl-card__media h4 {
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}

.el-table .mdl-data-table {
  border: 0px;
  font-size: 15px;
  width: 100%;
}

.el-footer ul {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.el-footer li {
  position: relative;
  padding: 0;
  margin: 0 16px;
}

.el-social-btn{
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.ello-icon a {
  color: #ccc;
  text-decoration: none;
}
.ello-icon a:hover {
  color: rgb(255, 255, 255);
}

.ello-icon {
    font-family: "fontello";
    font-style: normal;
    font-size: 32px;
    color: #eee;
    display: inline-block;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?34980391');
    src: url('../fonts/fontello.eot?34980391#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?34980391') format('woff'),
         url('../fonts/fontello.ttf?34980391') format('truetype'),
         url('../fonts/fontello.svg?34980391#fontello') format('svg');
  }

.el-tag-btn .mdl-button {
  height: 24px;
  min-width: 48px;
  padding: 0 0px;
  text-transform: none;
  line-height: 1em;
}

.el-tag-btn .mdl-button:hover {
  background-color: transparent;
}

.el-nav .pagination_container {
  display: block;
  text-align: center;
}

.el-nav .pagination_link {
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  vertical-align: middle;
  text-decoration: none;
}

.el-nav .p_link_active {
  border-bottom: solid 2px #333333;
  color: #333333;
  font-weight: 400;
  padding-bottom: 10px;
}

.el-article-path {
  margin: 10px 0 0 10px;
}

.el-article-path .mdl-button {
  height: 24px;
  min-width: 10px;
  padding: 0 0px;
  text-transform: none;
  line-height: 1em;
  vertical-align: middle;
}
.el-article-path .mdl-button:hover {
  background-color: transparent; 
}

.el-tagcloud .mdl-card__supporting-text {
  padding: 6px;
}

.el-sidebar {
  overflow: visible;
}
.el-search {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.el-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.el-page {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.el-page p {
  font-size: 20px;
  line-height: 32px;
}

.el-page h5, h6, p {
    font-weight: 400;
}

.el-page h1, h2, h3, h4 {
  font-weight: 300;
}

.el-similar ul {
	margin-top: 10px;
	padding: 0;
	list-style: none;
}
.el-similar ul li {
  font-size: 16px;
  font-weight: 400;
	position: relative;
	margin: 0 0 .5em 0;
	padding: 0;
	vertical-align: middle;
}
.el-similar ul li a {
	position: relative;
  display: inline-block;
  color: #555;
  text-decoration: none;
}
.el-similar ul li a:hover {
  color: rgb(255, 82, 82);
  text-decoration-line: underline;
}

.el-comments {
  background-color: #eee;
}

.page-footer button#el-icon-upward {
  bottom: 80px;
}

.el-mdl .mdl-layout__content {
  padding: 64px 0 0 0;
}

.el-mdl .mdl-layout {
  background-color: #f9f9f9;
}

.el-mdl .mdl-card {
  background-color: #f9f9f9;
}

.el-mdl .mdl-layout {
  overflow-y: visible;
  overflow-x: visible;
}

.el-mdl .mdl-layout main.mdl-layout__content {
  overflow-y: visible;
  overflow-x: visible;
}

.el-mdl-bg-image {
  background-origin: padding-box;
  box-sizing: border-box;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 400px;
  background-position: 50% 50%;
  margin-top: 64px;
}