.portfolio-header {
  position: relative;
  background-image: url(../images/header-bg.jpg);
}
  
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(../images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgb(69, 90, 100, .4);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
position: relative;
font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
content: "";
width: 70%;
height: 2px;
display: block;
position: absolute;
bottom: 0;
left: 0;
background-color: rgb(255,64,129);
left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 1200px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}


.mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.mdl-card h3 {
  margin: 0;
}
.mdl-card h3 a {
  text-decoration: none;
}
.mdl-card h3.quote:before, .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.mdl-card h3.quote:before {
  content: '“';
}
.mdl-card h3.quote:after {
  content: '”';
}
.mdl-card__media a,
.mdl-card__title a {
  color: inherit;
}


.mdl-card__supporting-text {
  width: 100%;
  box-sizing: border-box;
  min-height: 76px;
}

.mdl-grid .mdl-card{
  margin: 8px 8px 32px 8px;
}

.el-menu-li {
    text-align: center;
}

.el-menu-link {
    color: #424242;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 10;
}

.el-title-bg {
  background-color: #263238;
}


.section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.elst.mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-nav {
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
}


.el-footer {
  box-sizing: border-box;
  align-items: center;
}

.el-blog {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.el-blog p {
  font-size: 16px;
}

.el-blog h5, h6, p {
    font-weight: 400;
}

.el-blog h1, h2, h3, h4 {
  font-weight: 300;
}


.el-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  min-height: 280px;
}

.el-blog .mdl-card__media h4 {
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}

.el-table .mdl-data-table {
  border: 0px;
  font-size: 15px;
  width: 100%;
}

.el-footer ul {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.el-footer li {
  position: relative;
  padding: 0;
  margin: 0 16px;
}

.el-social-btn{
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.ello-icon a {
  color: #ccc;
  text-decoration: none;
}
.ello-icon a:hover {
  color: rgb(255, 255, 255);
}

.ello-icon {
    font-family: "fontello";
    font-style: normal;
    font-size: 32px;
    color: #eee;
    display: inline-block;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?34980391');
    src: url('../fonts/fontello.eot?34980391#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?34980391') format('woff'),
         url('../fonts/fontello.ttf?34980391') format('truetype'),
         url('../fonts/fontello.svg?34980391#fontello') format('svg');
  }

.el-tag-btn .mdl-button {
  height: 24px;
  min-width: 48px;
  padding: 0 0px;
  text-transform: none;
  line-height: 1em;
}

.el-tag-btn .mdl-button:hover {
  background-color: transparent;
}

.el-nav .pagination_container {
  display: block;
  text-align: center;
}

.el-nav .pagination_link {
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  vertical-align: middle;
  text-decoration: none;
}

.el-nav .p_link_active {
  border-bottom: solid 2px #333333;
  color: #333333;
  font-weight: 400;
  padding-bottom: 10px;
}

.el-article-path {
  margin: 10px 0 0 10px;
}

.el-article-path .mdl-button {
  height: 24px;
  min-width: 10px;
  padding: 0 0px;
  text-transform: none;
  line-height: 1em;
  vertical-align: middle;
}
.el-article-path .mdl-button:hover {
  background-color: transparent; 
}

.el-tagcloud .mdl-card__supporting-text {
  padding: 6px;
}

.el-sidebar {
  overflow: visible;
}
.el-search {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.el-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
}

.el-page {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.el-page p {
  font-size: 20px;
  line-height: 32px;
}

.el-page h5, h6, p {
    font-weight: 400;
}

.el-page h1, h2, h3, h4 {
  font-weight: 300;
}

.el-similar ul {
	margin-top: 10px;
	padding: 0;
	list-style: none;
}
.el-similar ul li {
  font-size: 16px;
  font-weight: 400;
	position: relative;
	margin: 0 0 .5em 0;
	padding: 0;
	vertical-align: middle;
}
.el-similar ul li a {
	position: relative;
  display: inline-block;
  color: #555;
  text-decoration: none;
}
.el-similar ul li a:hover {
  color: rgb(255, 82, 82);
  text-decoration-line: underline;
}

.el-comments {
  background-color: #eee;
}