.tagcloud ul {
	margin-top: 10px;
	padding: 0;
	list-style: none;
}
.tagcloud ul li {
	position: relative;
	display: inline-block;
	margin: 0 0 .5em 0;
	padding: 0;
	vertical-align: middle;
}
.tagcloud ul li a {
	position: relative;
	display: inline-block;
	padding: 0 2px;
	background: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 3px;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li span {
	position: relative;
	display: inline-block;
	width: 1px;
	padding: 0;
	border: 0;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transform: scale(.2);
	transform: scale(.2);
}
.tagcloud ul li span.mdl-badge{
	opacity: 0;
}
.tagcloud ul li a:hover {
	border: 1px solid rgb(96, 125, 139);
}
.tagcloud ul li:hover span.mdl-badge {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.tagcloud ul li a.tag-0 {
    max-width: 100px;
	height: 36px;
	line-height: 36px;
	font-size: 24px;
	color: rgb(45, 62, 70);
}
.tagcloud ul li a.tag-1 {
    max-width: 90px;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	color: rgb(69, 90, 100);
}
.tagcloud ul li a.tag-2 {
    max-width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	color: rgb(96, 125, 139);
}
.tagcloud ul li a.tag-3 {
    max-width: 80px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: rgb(96, 125, 139, .75);
}
.tagcloud ul li a.tag-4 {
    max-width: 80px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: rgb(96, 125, 139, .75);
}
.tagcloud ul li span.tag-0 {
	height: 36px;
	line-height: 36px;
}
.tagcloud ul li span.tag-1 {
	height: 32px;
	line-height: 32px;
}
.tagcloud ul li span.tag-2 {
	height: 28px;
	line-height: 28px;
}
.tagcloud ul li span.tag-3 {
	height: 24px;
	line-height: 24px;
}
.tagcloud ul li span.tag-4 {
	height: 24px;
	line-height: 24px;
}