{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.keywords %}
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="demo-blog mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">

        <div class="mdl-card__media mdl-color-text--grey-50" style="{% if article.color %}background-color: {{article.color}};{% endif %} {% if article.image %}background-image: url({{article.image}});{% endif %}">
            <h4>{{ article.title }}</h4>
        </div>

        <div class="mdl-color-text--grey-700 elst mdl-card__supporting-text">
            <div>
                {% if article.modified %}
                <button class="mdl-button mdl-js-button" disabled style="line-height: 1em">
                    <div style="font-size: 0.5em">发布：{{ article.locale_date }}</div>
                    <div style="font-size: 0.5em">更改：{{ article.locale_modified }}</div>
                </button>
                {% else %}
                <button class="mdl-button mdl-js-button" disabled>
                    <div>发布：{{ article.locale_date }}</div>
                </button>
                {% endif %}
            </div>

            <div>
                {% if article.category %}
                <button class="mdl-button mdl-js-button mdl-button--accent">
                  <a style="text-decoration: none;" href="{{ SITEURL }}/{{ article.category.url }}">分类：{{ article.category }}</a>
                </button>
                {% endif %}
            </div>
            
            <div class="section-spacer"></div>

            {% if article.tags %}
            <div class="el-tag-btn">Tags:
                {% for tag in article.tags %}
                <button class="mdl-button mdl-js-button mdl-button--accent">
                  <a style="text-decoration: none;" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </button>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            {{ article.content }}
        </div>

    </div>
</div>

{% endblock %}

