<div class="mdl-cell mdl-cell--12-col">
<div class="rw-card rw-card--media mdl-card mdl-shadow--4dp">

    <div class="rw-card__img-container bg-img-clickable" alt="{{ article.title }}" {% if article.image %}style="background-image: url({{ article.image }});"{% elif article.color %}style="background-color: {{article.color}};"{% endif %}></div>

    <div class="rw-card__content">

        <h2 class="rw-card__title">
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>

        <div class="rw-card__body">
            {{ article.summary|truncate(100) }}
        </div>

        <div class="rw-card__actions">
            <span class="rw-card__meta"><i class="material-icons">create</i>{{ article.locale_date }}</span>
            <a class="rw-card__end mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ SITEURL }}/{{ article.url }}">
                阅读全文<i class="material-icons">arrow_forward</i>
            </a>
        </div>

    </div>
</div>
</div>
