{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.keywords %}
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="demo-blog mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">

        <div class="mdl-card__media mdl-color-text--grey-50" style="{% if article.color %}background-color: {{article.color}};{% endif %} {% if article.image %}background-image: url({{article.image}});{% endif %}">
            <h4>{{ article.title }}</h4>
        </div>

        <div class="mdl-color-text--grey-700 elst mdl-card__supporting-text">
            <div>
              <strong>发布日期：{{ article.locale_date }}</strong>
              {% if article.modified %}<span>更新日期：{{ article.locale_modified }}</span>{% endif %}
              {% if article.category %}<span>分类: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>{% endif %}
            </div>
            <div class="section-spacer"></div>
            {% if article.tags %}
            <div>Tags:
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            {{ article.content }}
        </div>

    </div>
</div>

{% endblock %}

