{% extends "base.html" %}

{% block content %}
    {% for article in articles_page.object_list %}
        {% include "article_infos.html" %}
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock content %}

{% block sidebar_head %}

{% if recommended_posts %}
<div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">随便看看</h2>
    </div>
    <div class="el-similar mdl-card__supporting-text">
        <ul>
        {% for post in recommended_posts %}
            <li><a href="{{ SITEURL }}/{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}